{erl_opts, [debug_info]}.
{deps, [
   {cli, {git, "https://github.com/terry-xiaoyu/erlang-cli.git", {branch, "master"}}}
]}.

{relx, [{release, {coap_bench, "0.1.0"},
         [coap_bench,
          syntax_tools,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {include_erts, true},
        {extended_start_script, false},
        {generate_start_script, false},
        {overlay_vars,["vars.config"]},
        {overlay,
           [{mkdir,"log/"},
            {mkdir,"bin/"},
            {copy,"bin/nodetool","bin/nodetool"},
            {template,"bin/coap_bench","bin/coap_bench"}
           ]}
        ]
}.

